extends ../layout
block content
  section
    .wrapper
      .widgets
        each match in data.started
          .matchWidget
            .header
              a(href="/match/#{match.id}/show") #{match.name}
            .fights
              .counter
                =match.fights.length
                span(class="colorize")  / #{match.nbFights}
              =match.fights.length > 1 ? "combats disputés" : "combat disputé"
            .cashprize #{match.cashprize} zénis

        each match in data.coming
            .matchWidget(class="coming")
              .header
                a(href="/match/#{match.id}/show") #{match.name}
              .fights
                .counter
                  span(class="colorize")= match.players.length
                  |  / #{match.maxPlayers}
                =match.players.length > 1 ? "participants" : "participant"
              .cashprize #{match.cashprize} zénis
