extends ../layout
block content
  .sub-header
  section
    h2 Matchs en cours
    .widgets
      each match in data.started
        .matchWidget
          h4 
            a(href="/match/#{match.id}/show") #{match.name}
          .fights
            | 54 / 100
          
      .matchWidget
        h4
          | Un titre un peu plus long lkmjfg lkjgldkfjg

      .matchWidget
        h4
          | Un titre 

      .matchWidget
        h4
          | Un titre un peu plus long lkmjfg lkjgldkfjg

      .matchWidget
        h4
          | Un titre un peu plus long lkmjfg lkjgldkfjg

      .matchWidget
        h4
          | Un titre un peu plus long lkmjfg lkjgldkfjg

      .matchWidget
        h4
          | Un titre un peu plus long lkmjfg lkjgldkfjg

      .matchWidget
        h4
          | Un titre un peu plus long lkmjfg lkjgldkfjg        

  section
    h2 Matchs à venir
    each match in data.coming
      p
        a(href="/match/#{match.id}/show") #{match.name} (#{match.beginning.toUTCString()})
