.formInput
  label Nom de l'évènement
  -if(errors.name)
    .validationError= errors.name.message
  input(type='text', name='name', value='#{data.name ? data.name : ""}')

.formInput(class=['dateSelector'])
  label Date de lancement
  -if(errors.beginning)
    .validationError= errors.beginning.message
  select.dayDate(name='day_beginning')
    -if(data.beginning)
      option(value="#{data.beginning.getDate()}")
  select.monthDate(name='month_beginning')
    -if(data.beginning)
      option(value="#{data.beginning.getMonth() + 1}")
  select.hourDate(name='hour_beginning')
    -if(data.beginning)
      option(value="#{data.beginning.getHours()}")
.formInput(class=['dateSelector'])
  label Date de fin
  -if(errors.ending)
    .validationError= errors.ending.message
  input(type='checkbox', class=['triggerInput'], trigger-target='dateEnding', name='option_ending', checked=data.ending == undefined ? false : true)
  select.dayDate(name='day_ending', trigger-name='dateEnding')
    -if(data.ending)
      option(value="#{data.ending.getDate()}")
  select.monthDate(name='month_ending', trigger-name='dateEnding')
    -if(data.ending)
      option(value="#{data.ending.getMonth() + 1}")
  select.hourDate(name='hour_ending', trigger-name='dateEnding')
    -if(data.ending)
      option(value="#{data.ending.getHours()}")

.formInput
  label Nombre de joueur max
  -if(errors.maxPlayers)
    .validationError= errors.maxPlayers.message
  input(type='checkbox', class=['triggerInput'], trigger-target='maxPlayers', name='option_maxPlayers', checked=data.maxPlayers == undefined ? false : true)
  input(type='number', min='0', value="#{data.maxPlayers ? data.maxPlayers : 100}", trigger-name='maxPlayers', name='maxPlayers')

.formInput
  label Niveau minimum requis 
  -if(errors.minLevel)
    .validationError= errors.minLevel.message
  input(type='checkbox', class=['triggerInput'], trigger-target='minLevel', name='optionMinLevel', checked=data.minLevel == undefined ? false : true)
  input(type='number', min='0', max='100', value="#{data.minLevel ? data.minLevel : 1}", trigger-name='minLevel', name='minLevel')

.formInput
  label Niveau maximum requis
  -if(errors.maxLevel)
    .validationError= errors.maxLevel.message
  input(type='checkbox', class=['triggerInput'], trigger-target='maxLevel', name='optionMaxLevel', checked=data.maxLevel == undefined ? false : true)
  input(type='number', min='0', max='100', value="#{data.maxLevel ? data.maxLevel : 100}", trigger-name='maxLevel', name='maxLevel')